body {
    margin: 0;
    font-family: monospace;
    background-color: lightgray;
}

.navbar {
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    background-color: #E4E2E2;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    box-shadow: 5px 10px grey;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.input-text {
    width: 600px !important;
    text-align: center;
}

.button-div {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.todo-item {
    list-style-type: none;
    text-align: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

p {
    font-size: 7px;
    margin: 0px;
    display: inline;
}

h5 {
    font-size: 23px;
    display: inline;
    margin: 0px;
}